@media screen and (max-width:650px) {
nav {
  min-width: 200px;
}

.input__text__item,
.search__field {
  width: 100%;
}

}


@media screen and (max-width:500px) {
  main {
    flex-wrap: wrap;
  }

  nav {
    min-height: 450px;
    width: 100%;
  }

  header {
    flex-wrap: wrap;
    height: 170px;
    justify-content: center;
    padding: 0 10px 0 10px;
  }

  .logo {
    align-items: center;
    display: flex;
    font-size: 9vw;
    height: 60px;
    justify-content: center;
    width: 355px;
  }

  .top--nav--stn {
    height: 95px;
  }

  input {
    font-size: 20px;
    height: 60px;
  }

  label {
    font-size: 20px;
  }

  .search__field:placeholder-shown {
    font-size: 20px;
    padding-left: 10px;
  }

 .search--bar {
   height: 60px;
   margin-bottom: 10px;
   width: 100%;
 }

 .btn__search,
 .btn__add__li {
  width: 60px;
}

.btn__search {
  border: 15px solid #c8d3d7;
}

.btn__add__li {
  border: 15px solid #1f1f3d;
}

.btn {
  font-size: 20px;
  height: 60px;
}

.btn__urgency__filter {
  margin: 10px 10px 20px 10px;
}

}