* {
  box-sizing: border-box;
  /* border: 1px black solid; */
  margin: 0px;
  padding: 0px;
  font-family: 'Open sans', sans-serif;
}
body{
  height: 100vh;
}

ul {
  list-style-type: none;
}

/**********  HEADER  ************/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background-color: #1f1f3d;
  padding: 10px;
}

.logo {
  height: 35px;
  width: 300px;
  color: #E5E5E8;
}

.yellow__text{
  color: #fec40e
}

.search--bar {
  height: 35px;
  display: flex;
}

.search {
  border: none;
}

.btn__search,
.btn__add__li {
  width: 30px;
}

.btn__search {
  background-color: #C8D3D7;
  border: 5px solid #c8d3d7;
}

.btn__add__li {
  background-color: #1f1f3d;
  border: 5px solid #1f1f3d;
}

/************** MAIN  ***************/

main{
  display: flex;
  height: 91%;
}

label{
  width: 100%;
}

/*************  NAV  ***************/

nav{
  background-color: #597A8B;
  width: 33%;
  display: flex;
  flex-direction: column;
}

input{
  height: 30px;
}

.top--nav--stn{
  height: 60px;
}

.nav--stn{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.ul{
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav__li {
  display: flex;
  padding-left: 25px;
  padding-top: 10px;
}

.nav__li__delete,
.crd__li__check,
.crd__btn {
  margin: 3px;
  width: 15px;
  height: 15px;
}

.bottom--nav--stn{
  border-bottom: 2px solid #2D6A84;
}

.nav__text {
  color: #B1C1C9
}
.btn{
  color:#ffffff
}

.item--input{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.input__text__item,
.search__field {
  width: 225px;
}

.btn{
  background-color: #1f1f3d;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
}

.btn__urgency__filter {
  margin: 10px;
}

/********** CARD SECTION  ***********/

.card__area {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.task__card {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  border: 2px solid #c7d3d8;
}

.crd__title {
  color: #1f1f3d;
  margin-left: 10px;
}

.crd--ul {
  padding: 10px;
  width: 99%;
  margin: auto;
  border-top: 2px solid #c7d3d8;
  border-bottom: 2px solid #c7d3d8;
}

.crd__li {
  display: flex;
}

.nav__li__text {
  margin-left: 5px;
}

.bottom--crd--stn{
  display: flex;
  justify-content: space-between;
}

.crd--urgent--div,
.crd--delete--div{
  width: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.crd__text{
  font-size: 10px;
  color: #3d6477;
}